:root{
    scroll-behavior: smooth;
    --textColor: rgb(0, 0, 0);
    --subtextColor: rgb(83, 82, 82);
    --detailColor: rgb(77, 125, 210);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Saira Condensed', sans-serif;
    color: var(--textColor);
    letter-spacing: 1.5px;
    background-color:rgb(242, 246, 253);
    overflow-x: hidden;
}
.contact-link {
    color: var(--detailColor);
}
/* :focus{
    outline: none;
} */
.subtitle{
    position:relative;
    font-size: 6rem;
    grid-column: 1/5;
}
.subtitle::before{
    position: absolute;
    content: "";
    width: 75%;
    background-color: black;
    height: 0.7rem;
    border-radius: 2px;
}

.card{
    background-color: white;
    margin-top: 4rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(144, 144, 145, 0.336);
}
.card__title{
    position: relative;
    margin: 30px 0px;
    font-size: 2rem;
}
.card__title::after{
    position: absolute;
    top: 100%;
    left: 25%;
    content: "";
    width: 75%;
    background-color: black;
    height: 0.3rem;
    border-radius: 1px;
}
/* Header START*/
.header{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../images/wallpapertip_web-design-wallpaper_838362.jpg);
    background-size: cover;
    background-position: bottom;
}
.header__title{
    font-size: 4rem;
    min-width: 250px;
    letter-spacing: 6px;
}
.header__firstlane{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.header__text{
    color: #fff;
    font-size: 1.2rem;
    max-width: 50%;
    letter-spacing: .5px;
    text-align: center;
    margin-bottom: 50px;
}

.header__arrow{
    position: relative;
    color: #fff;
    font-size: 50px;
}

/* HEADER END */

/* NAVBAR MENU */
.navbar{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    flex-wrap: wrap;
    align-items: center;
    background: #fff;
    height: 60px;
    border-bottom: 1px solid #d4d4d4;
    box-shadow: 0px 5px 10px rgba(144, 144, 145, 0.342);
}
.navbar__list-items{
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    justify-content: space-evenly;
}

.navbar__item{
    list-style: none;
    width: 90px;
    border-radius: 5px;
    text-align: center;
}
.navbar__link{
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
}
.navbar__button{
    cursor: pointer;
    display: none;
}
.btnLine{
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 10px;
    background-color: black;
}
.navbar__item:hover{
    background-color: rgba(223, 226, 255, 0.562);
}
.navbar__items:focus{
    background-color: rgba(223, 226, 255, 0.562);
}

.active{
    position: relative;
    background-color: rgba(223, 226, 255, 0.562);
}
.active a{
    color: var(--detailColor);
}
.active::before{
    content: "";
    position: absolute;
    left: 0px;
    top: calc(100% + 9.5px);
    width: 100%;
    height: 3.5px;
    background-color: var(--detailColor);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

/* NAVBAR MENU END */

/* ABOUT MAIN START */

.grid-about{
    background-color:rgb(242, 246, 253);
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, min-content);
    margin: 55px 0px;
    padding: 150px 10%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: flex-start;
}

/* Bio Start*/
.grid-about__bio{
    grid-column: span 4;
    grid-row: 2/span 2;
    display: flex;
    flex-direction: column;
}
.bio__content-img{
    float: left;
    margin-right: 15px;
    border-radius: 2%;
    width: 50%;
    max-width: 550px;
    clip-path: polygon(43% 0, 100% 0, 100% 100%, 0 100%, 0 46%, 31% 0, 0 31%, 20% 0, 0 16%, 13% 0, 5% 6%, 18% 19%);
}
.content-header__title{
    font-size: 3rem;
    line-height: 3.2rem;
    margin-bottom: 20px;
}
.content-header__text{
    color: var(--subtextColor);
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 20px;
}
.bio__text{
    font-size: 1.3rem;
}
.bio__nav{
    grid-column: span 2;
    display: flex;
    padding: 20px 0px;
    justify-content: space-evenly;
    align-items: center;
}
.bio__nav-btn {
    display: flex;
    height: 40px;
    width: 40px;
    box-shadow: 0px 0px 0px 3px lightgray;
    border-radius: 50%;
    
}
.bio__nav-btn i{
    margin: auto;
    font-size: 2rem;
    color: lightgray;
}
.bio__nav-btn:hover{
    background-image: linear-gradient(to bottom right, #8d10be 5%, var(--detailColor) 60%);
    box-shadow: 0px 0px 0px 3px lightgray;
}
/* .bio__nav-btn:active{
    background-color: slateblue;
    color: white;
    color: var(--detailColor);
    box-shadow: 0px 0px 0px 3px var(--detailColor);
} */
.bio__nav-dot{
    width: 10px;
    height: 10px;
    background: lightgray;
    border-radius: 50%;
}
.dot-active{
    background-color: var(--detailColor);
    width: 15px;
    height: 15px;
}
.colors:hover{
    font-weight: 900;
    animation: colors 1s   infinite normal none;
}
.fonts:hover{
    font-weight: 900;
    animation: fonts 0.5s   infinite alternate none;
}
/* Bio End */

/* Skills start */
.flex-about__skills, .flex-about__skillSoft{
    grid-column: span 2;
    grid-row: 4/ span 5;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 15px;
    grid-auto-flow: row;
    grid-auto-rows: minmax(100px, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.flex-skillitem, .flex-softSkillitem{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-skillitem__img {
    position: relative;
    width: 4rem;
    transition: transform ease-in-out 1s;
}
.flex-skillitem__p{
    position: absolute;
    color: black;
    font-size: 0px;
    transition: transform ease-in-out 1s, font-size ease-in-out 1s;
}
.skills__text, .softSkills__text {
    padding: 10px;
}
.skills__text::first-line, .softSkills__text::first-line{
    font-weight: 900;
}
/* SoftSkills Start */
.flex-softSkillitem img{
    width: 4.5rem;
}

/* Skills END */

/* Skills Animations */
.flex-skillitem:hover p, .flex-softSkillitem:hover p{
    transform: rotate(-360deg);
    font-size: 1.5rem;
    cursor: pointer;
}
.flex-skillitem:hover div, .flex-softSkillitem:hover img{
    transform: rotate(360deg) scale(0%);
    cursor: pointer;
}
/* Skills Animations END */



/* PROJECTS START */
.grid-section-project{
    background-color: rgb(233, 241, 255);
    padding: 150px 20%;
    margin: 55px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    justify-content: center;
    justify-items: center;
}

/* Project Gallery Start */
.grid-projects{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
    gap: 15px;
    padding: 15px;
}
.grid-projects__item{
    position: relative;
}
.grid-projects__img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.grid-projects__caption {
    background-color: rgba(77, 126, 210, 0.692);
    position: absolute;
    bottom: 0;  
    width: 100%;
    height: 0px;
    color: white;
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.5s ease-in-out, font-size 0s 250ms;
}

.projects-modal{
    position: fixed;
    top: 10rem;
    bottom: 10rem;
    left: 10rem;
    right: 10rem;
    z-index: 10;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 0px 10rem rgba(0, 0, 0, 0.473);
}
.projects-modal.open{
    display: flex;
}

.modal-close{
    position: absolute;
    color: var(--detailColor);
    background-color: white;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    font-size: 3rem;
}
.modal-close:hover{
    cursor: pointer;
}
.modal__text{
    padding: 0px 5%;
    overflow-y: scroll;
}
.modal__link{
    align-self: flex-end;
    padding: 0px 5%;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--detailColor);
}
.grid-projects__long{
    grid-column: 1/3;
}
.grid-projects__tall{
    grid-column: 3/4;
    grid-row: 1/3;
}

.grid-projects__item:hover img{
    filter: grayscale(0.5);
    cursor: pointer;
}
.grid-projects__item:hover figcaption{
    height: 30%;
    font-size: 2rem;
    cursor: pointer;
}
/* Project Gallery End */

/* CONTACT FORM START */
.grid-section-contact{
    background-color: rgb(242, 246, 253);
    padding: 150px 0px;
    margin: 55px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    justify-items: center;
}

.flex-form{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 50px;
}
.flex-form input, textarea{
    width: 100%;
    font-family: inherit;
    border: none;
    background-color: rgba(223, 226, 255, 0.562);
    margin: 5px 0px;
    border-radius: 5px;
    padding: 5px;
}
.flex-form textarea{
    max-height: 120px;
    resize: none;
}
.flex-form input[type="submit"]{
    background-image: linear-gradient(to bottom right, #8d10be 5%, var(--detailColor) 60%);
    width: min-content;
    padding: 15px 30px;
    color: white;
    font-family: inherit;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 16px;
    border: none;
    align-self: flex-end;
}
/* CONTACT FORM END */

/* FOOTER START */

.flex-footer{
    background-color: #fff;
    border-top: 1px solid #d4d4d4;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.footer__link{
    color: black;
    margin: 0px 15px;
    font-size: 2rem;
    width: 25px;
}

.footer__link:hover {
    color: var(--detailColor);
}

.footer__text{
    font-weight: bold;
}
.footer__copyright{
    color: var(--detailColor);
}

/* KEYFRAMES */

@keyframes colors{
    0%{
        color: red;
    }
    50%{
        color: yellow;
    }
    100%{
        color: blue;
    }
}
@keyframes fonts{
    0%{
        font-family: 'Times New Roman', Times, serif;
    }
    50%{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    100%{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}
/* Observer Transitions Start*/
.fade-bot{
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 350ms ease-in, transform 500ms ease-in;
}

.fade-right{
    opacity: 0;
    transform: translateX(50%);
    transition: opacity 350ms ease-in, transform 500ms ease-in;
    transition-delay: 0.5s;
}
.fade-left{
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 350ms ease-in, transform 500ms ease-in;
}
.fade-bot.appear,
.fade-right.appear,
.fade-left.appear {
    opacity: 1;
    transform: translateY(0);
}

/* Media queries */

@media screen and (min-width: 768px) and (max-width: 992px){
    :root{
        font-size: 14px;
    }
    .fade-right{
        transform: translateX(-50%);
    }
    .grid-about{
        padding: 80px 5%;
    }
    .bio__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bio__content-img{
        flex-shrink: 0.5;
        min-width: 350px;
    }
    .content-header__title{
        margin-top: 20px;
    }
    .flex-about__skills{
        grid-column: span 4;
        grid-row: 4;
        width: 100%;
    }
    .flex-about__skillSoft{
        grid-column: span 4;
        grid-row: 5;
        width: 100%;
    }
    .skills-container{
        width: 70%;
        grid-template-columns: repeat(auto-fill, minmax(min-content,100px));
        grid-template-rows: repeat(2, minmax(100px, 1fr));
        gap: 15px;
    }
    .grid-section-project{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        padding: 80px 5%;
    }
    .grid-projects{
        grid-column: 1/-1;
    }
    .grid-section-contact{
        padding: 80px 5%;
    }
}

@media screen and (max-width: 768px) {

/* navbar responsive */
    .navbar{
        justify-content: space-between;
        padding: 0px 1rem;
    }
    .navbar__button{
        display: block;
    }
    .navbar__list-items{
        background-color: rgba(255, 255, 255, 0.966);
        position: absolute;
        flex-direction: column;
        align-items: center;
        border-bottom-right-radius: 8px;
        height: 300px;
        width: 50%;
        top: 59px;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
    }
    .list-active{
        transform: translateX(0);
    }
/* navbar responsive end  */
    .fade-right{
    transform: translateX(-50%);
    }
    .header__text{
        max-width: 90%;
    }
    .grid-about{
        padding: 80px 10px;
    }
    .subtitle{
        font-size: 5rem;
    }
    .bio__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bio__content-img{
        flex-shrink: 0.5;
        min-width: 350px;
        margin-right: 0px;
    }
    .content-header__title{
        margin-top: 20px;
    }
    .flex-about__skills{
        grid-column: span 4;
        grid-row: 4;
        width: 100%;
        padding: 0px;
    }
    .flex-about__skillSoft{
        grid-column: span 4;
        grid-row: 5;
        width: 100%;
        padding: 0px;
    }
    .skills-container{
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(min-content,100px));
        gap: 15px;
    }
    .grid-section-project{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        padding: 80px 10px;
    }
    .grid-projects{
        grid-column: 1/-1;
    }
    .grid-projects__item{
        grid-column: 1/-1;
        height: 200px;
    }
    .projects-modal{
        left: 2rem;
        right: 2rem;
        box-shadow: 0px 0px 0px 10rem rgba(0, 0, 0, 0.473);
    }
    .grid-section-contact{
        padding: 80px 10px;
    }
    .flex-form{
        width: 100%;
    }
}