/* GENERAL STYLES START*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
    --headerTextColor: #fff;
    --textColor: rgb(43, 43, 51);
    --subtextColor: rgb(79, 78, 94);
    --detailColor: rgb(77, 125, 210);
}
:focus{
    outline: none;
}
body{
    background-color:rgb(242, 246, 253);
    font-family: 'Saira Condensed', sans-serif;
    color: var(--textColor);
    letter-spacing: 1.5px;
    overflow-x: hidden;
}
.subtitle{
    grid-column: 1/5;
    position:relative;
    font-size: 6rem;
}
.subtitle::before{
    position: absolute;
    content: "";
    width: 75%;
    height: 0.7rem;
    background-color: var(--textColor);
    border-radius: 2px;
}
.card{
    margin-top: 4rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(144, 144, 145, 0.336);
}
.card__title{
    position: relative;
    margin: 30px 0px;
    font-size: 2rem;
}
.card__title::after{
    position: absolute;
    content: "";
    top: 100%;
    left: 25%;
    width: 75%;
    height: 0.3rem;
    background-color: var(--textColor);
    border-radius: 1px;
}
/* GENERAL STYLES END*/

/* HEADER START*/
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: var(--headerTextColor);
    background-image: url(../images/wallpapertip_web-design-wallpaper_838362.jpg);
    background-size: cover;
    background-position: bottom;
}
.header__title{
    min-width: 250px;
    font-size: 4rem;
    letter-spacing: 6px;
}
.header__firstlane{
    margin-bottom: 10px;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
}
.header__text{
    margin-bottom: 50px;
    max-width: 50%;
    text-align: center;
    color: var(--headerTextColor);
    font-size: 1.2rem;
    letter-spacing: .5px;
}
.header__link{
    position: relative;
    height: 40px;
    width: 40px;
    box-shadow: 0px 0px 0px 3px rgb(209, 209, 209);
    border-radius: 50%;
    text-decoration: none;
}
.header__link i{
    position: absolute;
    top: 6px;
    left: 6px;
    margin: auto;
    font-size: 32px;
    color: rgb(209, 209, 209);
}
.header__link:focus, .header__link:hover {
    box-shadow: 0px 0px 0px 3px var(--detailColor);
}
/* HEADER END */

/* NAVBAR MENU START*/
.navbar{
    display: flex;
    position: sticky;
    top: 0;
    height: 60px;
    z-index: 1;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
    box-shadow: 0px 5px 10px rgba(144, 144, 145, 0.342);
}
.navbar__list-items{
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
}
.navbar__item{
    list-style: none;
    width: 90px;
    text-align: center;
}
.navbar__link{
    display: block;
    color: var(--textColor);
    font-size: 24px;
    text-decoration: none;
    border-radius: 5px;
}
.navbar__button{
    display: none;
    position: relative;
    width: 36px;
    height: 36px;
    border: 2px solid #d4d4d4;
    border-radius: 5px;
    cursor: pointer;
}
.navbar__button::before{
    position: absolute;
    content: "";
    top: 8px;
    left: 5px;
    width: 25px;
    height: 3px;
    background-color: var(--detailColor);
    border-radius: 10px;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.navbar__button::after{
    position: absolute;
    content: "";
    bottom:8px;
    left: 5px;
    width: 25px;
    height: 3px;
    background-color: var(--detailColor);
    border-radius: 10px;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.cross::before{
    background-color: var(--textColor);
    transform: translateY(7px) rotate(45deg);
    -webkit-transform: translateY(7px) rotate(45deg);
}
.cross::after{
    background-color: var(--textColor);
    transform: translateY(-7px) rotate(-45deg);
    -webkit-transform: translateY(-7px) rotate(-45deg);
}
.navbar__link:hover{
    background-color: rgba(223, 226, 255, 0.562);
}
.navbar__link:focus {
    background-color: rgba(223, 226, 255, 0.562);
}
.active{
    position: relative;
    color: var(--detailColor);
    background-color: rgba(223, 226, 255, 0.562);
}
.active::before{
    position: absolute;
    content: "";
    top: calc(100% + 8px);
    left: 0px;
    width: 100%;
    height: 3.5px;
    background-color: var(--detailColor);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
/* NAVBAR MENU END */

/* ABOUT MAIN START */

.grid-about{
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, min-content);
    margin: 55px 0px;
    padding: 150px 10%;
    justify-items: center;
    align-items: flex-start;
}

/* Bio Start*/
.grid-about__bio{
    grid-column: span 4;
    grid-row: 2/span 2;
    display: flex;
    flex-direction: column;
}
.bio__content-img{
    float: left;
    width: 50%;
    max-width: 550px;
    margin-right: 15px;
    border-radius: 2%;
    clip-path: polygon(43% 0, 100% 0, 100% 100%, 0 100%, 0 46%, 31% 0, 0 31%, 20% 0, 0 16%, 13% 0, 5% 6%, 18% 19%);
}
.content-header__title{
    margin-bottom: 20px;
    font-size: 2rem;
    line-height: 2.3rem;
}
.content-header__text{
    margin-bottom: 20px;
    color: var(--subtextColor);
    font-size: 1.5rem;
    line-height: 2rem;
}
.bio__text{
    color: var(--subtextColor);
    font-size: 1.2rem;
}
.bio__location{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 15px 0px;
}
.location-img{
    width: 40px;
    margin-left: -10px;
}
.location-text{
    font-size: 1.2rem;
}
.bio__nav{
    grid-column: span 2;
    display: flex;
    padding: 20px 0px;
    justify-content: space-evenly;
    align-items: center;
}
.bio__nav-btn {
    display: flex;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 0px 3px rgb(209, 209, 209);
    border-radius: 50%;
    
}
.bio__nav-btn i{
    margin: auto;
    color: rgb(209, 209, 209);
    font-size: 32px;
}
.bio__nav-btn:focus {
    box-shadow: 0px 0px 0px 3px var(--detailColor);
}
.bio__nav-btn:hover{
    background-image: linear-gradient(to bottom right, #8d10be 5%, var(--detailColor) 60%);
    box-shadow: 0px 0px 0px 3px rgb(209, 209, 209);
    cursor: pointer;
}
.bio__nav-dots{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
.bio__nav-dot{
    width: 10px;
    height: 10px;
    background: rgb(209, 209, 209);
    border-radius: 50%;
}
.dot-active{
    width: 15px;
    height: 15px;
    background-color: var(--detailColor);
}
.colors:hover{
    font-weight: 900;
    animation: colors 1s   infinite normal none;
}
.fonts:hover{
    font-weight: 900;
    animation: fonts 0.5s   infinite alternate none;
}
.contact-link {
    color: var(--detailColor);
}
/* Bio End */

/* Skills start */
.flex-about__skills, .flex-about__skillSoft{
    grid-column: span 2;
    grid-row: 4/ span 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 15px;
    grid-auto-flow: row;
    grid-auto-rows: minmax(100px, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.flex-skillitem, .flex-softSkillitem{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.flex-skillitem__img {
    position: relative;
    width: 4rem;
    transition: transform ease-in-out 1s;
}
.flex-skillitem__p{
    position: absolute;
    font-size: 0px;
    transition: transform ease-in-out 1s, font-size ease-in-out 1s;
}
.softSkills__text {
    padding: 10px;
}
.softSkills__text::first-line{
    font-weight: 900;
}
.flex-softSkillitem img{
    width: 4.5rem;
}
/* Skills END */

/* Skills Animations */
.flex-skillitem:hover p, .flex-softSkillitem:hover p{
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    font-size: 1.5rem;
    cursor: pointer;
}
.flex-skillitem:hover img, .flex-softSkillitem:hover img{
    transform: rotate(360deg) scale(0,0);
    -webkit-transform: rotate(360deg) scale(0,0);
    cursor: pointer;
}
/* Skills Animations END */
/* ABOUT MAIN END */

/* PROJECTS SECTION START */
.grid-section-project{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    justify-content: center;
    justify-items: center;
    background-color: rgb(233, 241, 255);
    padding: 150px 20%;
    margin: 55px 0px;
}
/* Project Gallery Start */
.grid-projects{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 145px 145px 250px;
    gap: 15px;
    padding: 15px;
}
.grid-projects__item{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
.grid-projects__item:focus{
    box-shadow: 0px 0px 0px 2px var(--detailColor);
}
.grid-projects__long{
    grid-column: 1/3;
    grid-row: 1/3;
}
.grid-projects__tall{
    grid-column: 3/4;
    grid-row: 1/4;
}
.grid-projects__img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: width 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.grid-projects__item:hover .grid-projects__img{
    width: 150%;
    filter: grayscale(0.8);
    cursor: pointer;
}
.grid-projects__caption {
    position: absolute;
    bottom: 0;  
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(77, 126, 210, 0.801);
    color: var(--headerTextColor);
    transition: height 0.5s ease-in-out;
}
.grid-projects__item:hover .grid-projects__caption{
    height: 30%;
    cursor: pointer;
}
.project-title{
    font-size: 0px;
    transition: font-size 0s 250ms;
}
.grid-projects__item:hover .project-title{
    font-size: 2rem;
}
.projects-modal{
    position: fixed;
    display: none;
    top: 10rem;
    bottom: 10rem;
    left: 10rem;
    right: 10rem;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0px 0px 0px 10rem rgba(0, 0, 0, 0.473);
}
.projects-modal.open{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.modal-close{
    position: absolute;
    top: -20px;
    left: -20px;
    color: var(--detailColor);
    font-size: 3rem;
    background-color: #fff;
    border-radius: 50%;
}
.modal-close:hover{
    cursor: pointer;
}
.modal__text{
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    padding: 0px 5%;
    overflow-y: scroll;
}
.modal__link{
    align-self: flex-end;
    padding: 0px 5%;
    color: var(--detailColor);
    font-size: 1.5rem;
    text-decoration: none;
}
/* Project Gallery End */
/* PROJECTS SECTION END */

/* CONTACT SECTION START */
.grid-section-contact{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    justify-items: center;
    padding: 150px 0px;
    margin: 55px 0px;
}
/* Contact Form Start */
.flex-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    margin-bottom: 50px;
}
.form__input{
    width: 100%;
    margin: 5px 0px;
    padding: 5px;
    font-family: inherit;
    font-size: 1rem;
    background-color: rgb(242, 246, 253);;
    border: none;
    border-radius: 5px;
}
.flex-form textarea{
    max-height: 120px;
    resize: none;
}
.form__button{
    align-self: flex-end;
    width: min-content;
    margin: 15px 0px;
    padding: 15px 30px;
    background-image: linear-gradient(to bottom right, #8d10be 5%, var(--detailColor) 60%);
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
}
.input-error{
    display: none;
    font-size: .8rem;
    color: #ff0000;
}
.submit-response{
    display: none;
    align-self: center;
    margin: 15px 0px;
    font-style: 1.2rem;
    color: #008000;
}
.visible{
    display: block;
}
.sendFail{
    color: #ff0000;
}
.form__input:focus{
    box-shadow: 0px 0px 0px 2px var(--detailColor);
}
.form__button:focus{
    box-shadow: 0px 0px 0px 2px white,
    0px 0px 0px 4px blue;
}
.form__button:hover{
    cursor: pointer;
}
/* Contact form End */
/* CONTACT SECTION END */

/* FOOTER START */
.flex-footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #d4d4d4;
}
.footer__link{
    width: 25px;
    margin: 0px 15px;
    color: var(--subtextColor);
    font-size: 2rem;
}

.footer__link:hover, .footer__link:focus {
    color: var(--detailColor);
}

.footer__text{
    font-weight: bold;
}
.footer__copyright{
    color: var(--detailColor);
}
/* FOOTER END */

/* KEYFRAMES START*/
@keyframes colors{
    0%{
        color: red;
    }
    50%{
        color: yellow;
    }
    100%{
        color: blue;
    }
}
@keyframes fonts{
    0%{
        font-family: 'Times New Roman', Times, serif;
    }
    50%{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    100%{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}
/* KEYFRAMES END*/

/* FADE TRANSITIONS START*/
.fade-bot{
    opacity: 0;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    transition: opacity 350ms ease-in, transform 500ms ease-in;
}

.fade-right{
    opacity: 0;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    transition: opacity 350ms ease-in, transform 500ms ease-in;
    transition-delay: 0.5s;
}
.fade-left{
    opacity: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transition: opacity 350ms ease-in, transform 500ms ease-in;
}
.fade-bot.appear,
.fade-right.appear,
.fade-left.appear {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
/* FADE TRANSITIONS END*/

/* MEDIA QUERIES TABLET START */
@media screen and (min-width: 768px) and (max-width: 992px){
    :root{
        font-size: 14px;
    }
    .fade-right{
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .grid-about{
        padding: 80px 5%;
    }
    .bio__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-header__text{
        text-align: center;
    }
    .bio__text{
        text-align: center;
    }
    .bio__content-img{
        flex-shrink: 0.5;
        min-width: 350px;
    }
    .content-header__title{
        margin-top: 20px;
    }
    .bio__location{
        justify-content: center;
    }
    .flex-about__skills{
        grid-column: span 4;
        grid-row: 4;
        width: 100%;
    }
    .flex-about__skillSoft{
        grid-column: span 4;
        grid-row: 5;
        width: 100%;
    }
    .skills-container{
        width: 70%;
        grid-template-columns: repeat(auto-fill, minmax(min-content,100px));
        grid-template-rows: repeat(2, minmax(100px, 1fr));
        gap: 15px;
    }
    .grid-section-project{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
        padding: 80px 5%;
    }
    .grid-projects{
        grid-column: 1/-1;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100px 200px 200px;
        gap: 15px;
        padding: 15px;
    }
    .grid-section-contact{
        padding: 80px 5%;
    }
}

/* MEDIA QUERIES MOBILE START */
@media screen and (max-width: 768px) {
    :root{
        font-size: 14px;
    }
    /* navbar responsive */
    .navbar{
        justify-content: space-between;
        padding: 0px 1rem;
    }
    .navbar__button{
        display: block;
    }
    .navbar__list-items{
        background-color: rgba(255, 255, 255, 0.966);
        position: absolute;
        flex-direction: column;
        align-items: center;
        border-bottom-right-radius: 8px;
        height: 300px;
        width: 50%;
        top: 59px;
        left: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
    }
    .list-active{
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    .navbar__item{
        width: 100%;
    }
    .navbar__item:hover a{
        background-color: rgba(77, 126, 210, 0.719);
        border-radius: 0px;
        color: white;
    }
    .active{
        width: 100%;
        border-radius: 0px;
        background-color: rgba(223, 226, 255, 0.562);
        color: var(--detailColor);
    }
    .active::before{
        content: none;
    }
    /* navbar responsive end  */

    .fade-right{
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    }
    .header__text{
        max-width: 90%;
    }
    .grid-about{
        padding: 80px 10px;
    }
    .subtitle{
        font-size: 5rem;
    }
    .bio__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bio__content-img{
        flex-shrink: 0.5;
        min-width: 350px;
        margin-right: 0px;
    }
    .content-header__title{
        margin-top: 20px;
    }
    .flex-about__skills{
        grid-column: span 4;
        grid-row: 4;
        width: 100%;
        padding: 0px;
    }
    .flex-about__skillSoft{
        grid-column: span 4;
        grid-row: 5;
        width: 100%;
        padding: 0px;
    }
    .skills-container{
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(min-content,100px));
        gap: 15px;
    }
    .grid-section-project{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
        padding: 80px 10px;
    }
    .grid-projects{
        grid-column: 1/-1;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 200px);
        gap: 15px;
        padding: 15px;

    }
    .grid-projects__item{
        grid-column: 1/-1;
    }
    .grid-projects__long{
        grid-row: 1;
    }
    .grid-projects__tall{
        grid-row: 2;
    }
    .projects-modal{
        left: 2rem;
        right: 2rem;
        box-shadow: 0px 0px 0px 10rem rgba(0, 0, 0, 0.473);
    }
    .grid-section-contact{
        padding: 80px 10px;
    }
    .flex-form{
        width: 100%;
    }
}